<div id="about">
    <div class="tile is-ancestor navbar-color">
        <div class="tile is-parent is-vertical">
            <div class="tile is-child box">
                <h1 class="big-header has-text-centered">About me</h1>
            </div>
            <div class="tile is-child has-text-centered box">
                My name is Amanda, I'm 20 years old <br>
                This is my portfolio.       
            </div>
        </div>
    </div>
</div>