<div id="editpost">
    <div class="tile is-ancestor navbar-color is-vertical">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <h1 class="big-header has-text-centered">Edit</h1>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor navbar-color is-vertical">
        <div class="tile is-parent is-2">
        </div>
        <div class="tile is-parent is-vertical">
            <form method="POST" action="/blog/post/{{blogposts.id}}/update">
                <div class="tile is-child box">
                    <h1>Title:</h1>
                    <input name="title" class="input bigger-font" value="{{blogposts.title}}">
                </div>
                <div class="tile is-child box">
                    <h1>Text:</h1>
                    <textarea name="blogpost" class="textarea" value="">{{blogposts.blogpost}}</textarea>
                </div>
                <div class="tile is-child box">
                    <input type="submit" class="button navbar-color" value="Submit!">
                </div>
            </form>
        </div>
    </div>
</div>