<div id="newProject">
    <div class="tile is-ancestor navbar-color">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <h1 class="big-header has-text-centered">New Project</h1>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor navbar-color">
        <div class="tile is-parent is-1">
        </div>
        <div class="tile is-parent is-vertical box center">
            <form method="POST" action="/portfolio/project/new" >
                <h2 class="bigger-font">Title:</h2>
                <div class="tile is-child is-vertical">
                    <input class="input" name="title" type="text" value="">
                </div>
                <div style="display:block">
                    <div class="tile is-child"> 
                        <h2 class="bigger-font">Description:</h2>
                        <textarea name="description" class="textarea" value=""></textarea>
                    </div>
                </div>
                <div class="tile is-child">
                    <h2 class="bigger-font">Link Repository:</h2>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="text" name="link">
                            <span class="icon is-medium is-left">
                                <i class="fab fa-github"></i>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="buttons is-right">
                    <input class="button navbar-color" type="submit" value="Post!">
                </div>
            </form>
        </div>
        <div class="tile is-parent is-1">
        </div>
    </div>
</div>