<div id="about">
    <div class="tile is-ancestor navbar-color">
        <div class="tile is-parent is-vertical">
            <div class="tile is-child box">
                <h1 class="big-header has-text-centered">Something has gone terribly wrong!</h1>
            </div>
            <div class="tile is-child has-text-centered box">
                <img src="https://d2k9vv6lxkjs4u.cloudfront.net/cache-buster-1530018603/Images/Switzerland/Blog/Inclusive%2520Systems%2520EN/image-thumb__16782__header/fail-1714367_1920.jpeg" />
            </div>
        </div>
    </div>
</div>