<div id="about">
    <div class="tile is-ancestor navbar-color">
        <div class="tile is-parent is-vertical">
            <div class="tile is-child box">
                <h1 class="big-header has-text-centered">ERROR</h1>
            </div>
            <div class="tile is-child has-text-centered box">
                <img src="https://www.lifewire.com/thmb/OO7CD06NAdoIwv71DgUgBiTd4ps=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/shutterstock_325494917-5a68d8403418c600190a3e1f.jpg" />
            </div>
        </div>
    </div>
</div>