<div id="post">
    <h1 class="big-header">new blogpost</h1>
    <div class="colums">
        <div class="column is-half">
            <form method="POST" action="/blog/post/new">
                <!--{{#if errors.length}}
                    {{#each errors}}
                        {{this}}
                    {{/each}}
                {{/if}}-->
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="title" placeholder="Title"> 
                        </div>
                        <div class="control">
                            <textarea placeholder="bla bla bla" name="blogpost" class="textarea"></textarea>
                        </div>
                        <div class="buttons is-right">
                            <div class="control">
                                    <input class="button navbar-color" type="submit" value="Post!">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>