<div id="projects">
    <div class="tile is-ancestor is-vertical navbar-color">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <h1 class="big-header has-text-centered">Projects</h1>
                {{#if isLoggedIn}}
                    <div>
                        <form method="POST" action="/editproject">
                            <div class="buttons is-right is-focused">
                                <button class="button navbar-color">New Project</button>
                            </div>
                        </form>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tile is-parent">
            {{#each projects}}
                <div class="tile is-child box">

                </div>
            {{/each}}
        </div>
    </div>
</div>