.hero{
    background-color: rgb(56, 56, 56);
    font-size: 25pt;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(56, 56, 56);
}

.hero .hero-body .navbar-brand img{
    height: 100px;
}

.hero .hero-body .navbar-brand .container .title{
    color: white;
    text-align: center;
}

.hero .hero-body .navbar-brand .container .subtitle{
    color: white;
    text-align: center;
}

.navbar-color{
    background-color: rgb(56, 56, 56);
    color: white;
}

.navbar-item{
    background-color: rgb(56, 56, 56);
    color: white;
}

a.navbar-item:hover, a.navbar-item.is-active, 
.navbar-link:hover, 
.navbar-link.is-active{
    background-color: rgb(97, 97, 97);
    color: white;
}

.big-header{
    font-size: 200%;
}

.bigger-font{
    font-size: 150%;
}

.font-color{
    color: rgb(56, 56, 56);
}

.buttons-same-height-blog{
    margin-top: 33px;
}

.buttons-same-height-messages{
    margin-top: 25px; 
}

.buttons-same-height-portfolio{
    margin-top: 32px;
}

a{
    color: rgb(97, 97, 97);
    font: bold;
}
li{
    float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(97, 97, 97);
}

footer{
    width:100%;
}